@import "../../styles/includes/includes";

.hero {
  background-image: radial-gradient(
      circle farthest-corner at 50% 100%,
      rgba(0, 0, 0, 0.46) 1%,
      rgba(0, 0, 0, 0.82) 91%
    ),
    url("./images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  padding: 105px 0;
  text-align: center;
}

.wrapper {
  margin-top: 200px;
}

.text {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $main_color;
}

.title {
  @include font(400);
  font-size: 80px;
  line-height: 85px;
  color: $accent_color;

  @include tablet {
    font-size: 70px;
    line-height: 75px;
  }

  @include mobile {
    font-size: 45px;
    line-height: 50px;
  }
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin: 20px auto 0;
}

.btn {
  display: inline-block;

  &:first-child {
    margin-right: 20px;
  }
}
