@import "../../styles/includes/includes";

.hero {
  padding: rem(105px) 0;
  text-align: center;
}

.wrapper {
  margin-top: rem(200px);
}

.text {
  font-size: rem(16px);
  line-height: rem(22px);
  text-transform: uppercase;
  letter-spacing: rem(1px);
  color: $main_color;
}

.title {
  @include font(400);
  font-size: rem(80px);
  line-height: rem(85px);
  color: $accent_color;

  @include tablet {
    font-size: rem(70px);
    line-height: rem(75px);
  }

  @include mobile {
    font-size: rem(45px);
    line-height: rem(50px);
  }
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  max-width: rem(320px);
  margin: rem(20px) auto 0;
}

.btn {
  display: inline-block;

  &:first-child {
    margin-right: rem(20px);
  }
}
