// Static colors
$black: #000000;
$white: #ffffff;

//// Project colors
$main_color: #ffffff9e;
$accent_color: $white;
$accent_color_bright: #c5cbd5;
$but_color: #f7c72a;
$song_title: #f0e567;
$header_bg_color: rgba($black, 0.9);
$song_border: rgba($main_color, 0.3);
