@import "../../styles/common/common";


.form-wrapper {
  padding: rem(100px) 0;
}

.title {
  margin-bottom: rem(50px);
}

.subtitle {
  margin-bottom: rem(50px);
}

.form {
  max-width: rem(550px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}