@import "../../styles/includes/_includes";

.header {
  position: fixed;
  width: 100%;
  transition: all .3s;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(30px) 0;
}