.form, .login {
  .MuiInputLabel-filled {
    color: $but_color;
    transform: translate(12px, 12px) scale(1);
  }

  .MuiInputLabel-filled.MuiInputLabel-shrink {
    transform: translate(12px, -5px) scale(0.75);
  }

  .MuiInputBase-input {
    height: rem(42px);
    padding: rem(15px) rem(12px) rem(8px);
    background-color: hsla(0, 0%, 40%, .64);
    box-sizing: border-box;
    color: $accent_color_bright;
  }

  .MuiFilledInput-underline {
    &::after {
      border-color: $but_color;
    }
  }

  .MuiInputBase-multiline {
    background-color: hsla(0, 0%, 40%, .64);
    border-radius: 0;
    
    textarea {
      background: transparent;
    }
  }

  .MuiPaper-root {
    background-color: transparent;
    box-shadow: none;
  }

  .MuiAvatar-root {
    background-color: $but_color;
    color: $white;
  }

  .MuiFormControl-root {
    position: relative;
    width: 100%;
    margin-bottom: rem(35px);
  }

  .MuiButton-contained {
    &.Mui-disabled {
      color: $main_color;
      border-color: $main_color;
    }
  }

  .MuiFormHelperText-root {
    &.Mui-error {
      position: absolute;
      left: 0;
      margin: 0;
      bottom: rem(-25px);
    }
  }

  .error {
    transition: all .5s;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.login {
  .MuiButton-root {
    margin: 0 auto;
  }
}

.signup {
  .MuiAvatar-root {
    background-color: $signup_person_color;
    color: $white;
  }
}