.form, .login {
  .MuiInputLabel-filled {
    color: $but_color;
    transform: translate(12px, 12px) scale(1);
  }

  .MuiInputLabel-filled.MuiInputLabel-shrink {
    transform: translate(12px, -5px) scale(0.75);
  }

  .MuiInputBase-input {
    height: rem(42px);
    padding: rem(15px) rem(12px) rem(8px);
    background-color: hsla(0, 0%, 40%, .64);
    box-sizing: border-box;
    color: $accent_color_bright;
  }

  .MuiFilledInput-underline {
    &::after {
      border-color: $but_color;
    }
  }

  .MuiInputBase-multiline {
    background-color: hsla(0, 0%, 40%, .64);
    border-radius: 0;
    
    textarea {
      background: transparent;
    }
  }

  .MuiPaper-root {
    background-color: transparent;
    box-shadow: none;
  }

  .MuiAvatar-root {
    background-color: $but_color;
    color: $song_title;
  }

  .MuiFormControl-root {
    margin-top: 0;
    margin-bottom: rem(35px);
  }
}

.login {
  .MuiButton-root {
    margin: 0 auto;
  }

  .MuiFormHelperText-root.Mui-error {
    position: absolute;
    left: 0;
    bottom: rem(-25px);
    margin: 0;
  }
}