@import "../../styles/includes/_includes";

// Global styles
:global(.hamburger) {
  position: relative;
  padding: 0;
  z-index: 2;

  &:hover,
  &:focus {
    opacity: 1;

    :global(.hamburger) {
      &-inner {
        background: $accent_color_bright;

        &:before,
        &:after {
          background: $accent_color_bright;
        }
      }
    }
  }

  &-box {
    width: rem(35px);
    height: rem(32px);

    @include mobile {
      width: rem(20px);
      height: rem(25px);
    }
  }

  &-inner {
    width: rem(35px);
    background: $accent_color;

    @include mobile {
      width: rem(20px);
      height: rem(2px);
    }

    &:before,
    &:after {
      width: rem(35px);
      background: $accent_color;

      @include mobile {
        width: rem(20px);
        height: rem(2px);
      }
    }
  }

  &--collapse {
    :global(.hamburger) {
      &-inner {
        &:before {
          top: rem(-11.5px);

          @include mobile {
            top: rem(-7.5px);
          }
        }

        &:after {
          top: rem(-23px);

          @include mobile {
            top: rem(-14px);
          }
        }
      }
    }
  }

  &:global(.is-active) {
    &:hover,
    &:focus {
      opacity: 1;

      :global(.hamburger) {
        &-inner {
          background: $accent_color_bright;

          &:before,
          &:after {
            background: $accent_color_bright;
          }
        }
      }
    }

    :global(.hamburger) {
      &-inner {
        background: $accent_color;

        &:before,
        &:after {
          background: $accent_color;
        }
      }
    }
  }
}
