@import "../../styles/includes/includes";
@import "../../styles/override/modificators";

.nav {
  @include tablet {
    display: none;
  }
}

.list {
  display: flex;
}

.item {
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.link {
  color: $main_color;
  font-size: rem(16px);
  transition: all 0.3s;

  &:hover,
  &:focus,
  &.active {
    color: $accent_color;
  }
}

.logout {
  color: red;
}

.mobile {
  display: none;

  @include tablet {
    display: block;
  }

  &__list {
    width: 100%;
    padding: rem(10px) 0 rem(100px);
    position: absolute;
    top: rem(100px);
    right: 50%;
    z-index: 1;
    background: $header_bg_color;
    text-align: center;

    &::before {
      position: absolute;
      top: rem(-104px);
      content: '';
      display: block;
      height: rem(105px);
      width: 100%;
      background: $header_bg_color;
    }

    @include mobile {
      top: rem(100px);
    }
  }

  &__item {
    &:first-child {
      padding-top: rem(4px);
    }

    &:last-child {
      padding-bottom: rem(5px);
    }
  }

  &__link {
    @include font(500);
    position: relative;
    display: block;
    padding: rem(20px) rem(29px);
    font-size: rem(20px);
    color: $main_color;
    transition: all 0.3s;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $accent_color;
    }
  }
}